.footer {
  background-color: black!important;
  text-align: center;
  width: 100%;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
}

.footer ul li a {
  margin-right: 5px;
  color: white;
  transition: all 0.2s;
}

.footer ul li a:hover {
  color: #f7bb27 !important;
  transition: all 0.2s;
}

.container-contact-footer {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.ul-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1em;
  width: 300px;
}

.ul-medias-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1em;
  width: 300px;
}

.ul-medias-footer > li {
  cursor: pointer;
}

.ul-contact > a {
  cursor: pointer;
  font-weight: bold;
}
.span-info-contact{
  color: white ;
}

.container-logo-footer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.name_img-footer{
  width: 171px;
}

.logo_img-footer {
  width: 41px;
}

.link-footer {
  transition: all 0.2s;
}

.link-footer:hover {
  color: #f7bb27 !important;
  transition: all 0.2s;
}

.span_copyright-footer {
  font-size: 14px;
}


@media screen and (max-width:700px){
  .container-contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .ul-medias-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 100%;
  }
  .ul-contact {
    width: 100%;
  }
}  