/* Variáveis CSS para fácil manutenção */
:root {
  --main-bg-color: black;
  --main-bg-img: url(../images/fundoSob.svg);
  --main-bg-img-mobile: url(../images/fundoSob.jpg);
  --highlight-color: #f7bb27;
  --shadow-color: rgba(0, 7, 66, 0.726);
  --white-color: white;
  --font-family: 'Poppins', sans-serif;
}

/* Estilos comuns */
.container_sobre, .subContainer_sobre, .container_info-sobre {
  height: 450px !important;
  overflow: hidden; 
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-img);
  background-size: cover;
  /* background-attachment: fixed; */
  color: var(--white-color);
  box-shadow: inset 0 0 1000px var(--shadow-color);
}

.container_info-sobre {
  display: flex;
  flex-direction: row-reverse;
}

.info-sobre, .info-sobre2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  gap: 1em;
}

.info-sobre {
  width: 65%;
  min-height: 100%;
  height: 500px;
}

.info-sobre2 {
  width: 35%;
  min-height: 100%;
  height: 500px;
  padding: 2em;
  gap: 0.5em;
  color: var(--white-color);
}

.subContainer_sobre {
  width: 100%;
  display: flex;
}

/* Botões */
.btn_info-contato, .btn_info-sobre {
  padding: 0.5em;
  border: none;
  border-radius: 24px;
  transition: all 0.2s;
  border: 1px solid var(--white-color);
}

#btn_info2{
  display: none;
}

.btn_info-contato {
  width: 200px;
}

.btn_info-contato:hover, .btn_info-sobre:hover {
  background-color: var(--highlight-color);
  color: black;
  font-weight: 600;
  border: 1px solid #2D313C;
}

.btn_info-sobre {
  max-width: 150px;
}

.info_img-sobre {
  max-width: 100%;
  min-width: 35%;
}

/* Texto */
.p-sobre {
  font-family: var(--font-family);
  font-style: italic !important;
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info-sobre-mobile {
  display: none;
}

.info-sobre-mobile.fade-in, .info-sobre2.fade-in {
  animation: fadeIn 2s forwards ease-in-out;
}

.info-sobre-mobile.fade-out, .info-sobre2.fade-out {
  animation: fadeOut 2s forwards ease-in-out;
}

/* Estilos responsivos */
@media screen and (max-width: 900px) {
  .container_info-sobre, .container_sobre, .subContainer_sobre {
    height: 500px !important;
    background-image: var(--main-bg-img-mobile);
  }

  .container_info-sobre {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    position: relative;
  }

  .info-sobre, .info-sobre2 {
    width: 100% !important;
  }

  .info-sobre {
    padding: 0.5em;
  }

  .info-sobre2 {
    height: 450px;
    position: absolute;
    padding: 1em !important;
    background-image: none;
  }

  .title-sobre {
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
  }

  .p-sobre {
    text-align: justify;
  }

  .info-sobre-mobile {
    height: 450px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
    padding: 0em 0.5em;
    border-radius: 24px;
  }

  .btn_info-sobre {
    z-index: 2;
  }

  .info_img-sobre {
    display: none;
  }
}
