.social-medias{
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: fixed;
  top: calc(100%/2);
  right: calc(0% + 2% );
  z-index: 10;
}

.social-link{
  width: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.social-link:active{
  transform: scale(1.1);
  transition: all 0.2s;
}

.social-link > img{
  width: 100%;
}

.social-link > img:hover{
  opacity: 0.5;
}