<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConstSoft | Desenvolvendo Soluções</title>
    <meta
      name="keywords"
      content="ConstSoft, ConstSoft desevolvedora de soluções, ConstSoft desenvolvedora de sistemas, ecommerce barato, software house ConstSoft"
    />
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="container_header" data-header="container">
      <div class="container_nav-header-mobile">
        <p class="d-inline-flex">
          <button
            class="btn btn_dropdown-header"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fa-solid fa-bars"></i>
            <span class="sr-only">Menu</span>
            <!-- Texto adicional para acessibilidade -->
          </button>
        </p>
        <div class="collapse container_menu-header-mobile" id="collapseExample">
          <ul class="menu-header-mobile">
            <li><a class="li_dropdown-header" href="#sobre">Sobre</a></li>
            <li><a class="li_dropdown-header" href="#servico">Serviços</a></li>
            <li>
              <a class="li_dropdown-header" href="#trabalho">Trabalhos</a>
            </li>
            <li><a class="li_dropdown-header" href="#contato">Contato</a></li>
          </ul>
        </div>
      </div>

      <div class="container_name-header">
        <img
          class="name_img-header"
          src="../static/images/logo.png"
          alt="Logo"
        />
      </div>
      <nav class="container_nav-header">
        <ul class="container_ul-header">
          <li class="texto-com-hover">
            <a href="#sobre">Sobre</a>
            <div class="linha"></div>
          </li>
          <li class="texto-com-hover">
            <a href="#servico">Serviços</a>
            <div class="linha"></div>
          </li>
          <li class="texto-com-hover">
            <a href="#trabalho">Trabalhos</a>
            <div class="linha"></div>
          </li>
          <li class="texto-com-hover">
            <a href="#contato">Contato</a>
            <div class="linha"></div>
          </li>
        </ul>
      </nav>

      <div class="container_logo-header">
        <img
          class="logo_img-header"
          src="../static/images/tiger.png"
          alt="Tiger Logo"
        />
      </div>
    </header>

    <main>
      <div class="container_sobre" id="sobre">
        <div class="subContainer_sobre" id="subContainer_sobre1">
          <div class="container_info-sobre">
            <div
              class="info_img-sobre collapse collapse-horizontal show"
              id="collapseWidthExample2"
              alt="Imagem sobre ConstSoft"
            ></div>
            <div class="info-sobre">
              <h1 class="hidden-mobile title-sobre">Inovação e Qualidade</h1>
              <p class="hidden-mobile text-lg mb-12 p-sobre">
                A ConstSoft é uma Software House para desenvolvimento de
                soluções digitais. Alavancamos as vendas de sua empresa com a
                criação de softwares sob demanda. Precisa de uma loja online?
                Nós criamos. Um cardápio online? Nós também criamos. Um software
                de gestão? Ah, muito fácil... o futuro de sua empresa está aqui,
                faça seu orçamento!
              </p>

              <div class="info-sobre-mobile">
                <h1 class="title-sobre">ConstSoft: Inovação e Qualidade</h1>
                <p class="text-lg mb-12 p-sobre">
                  A ConstSoft é uma Software House para desenvolvimento de
                  soluções digitais. Alavancamos as vendas de sua empresa com a
                  criação de softwares sob demanda. Precisa de uma loja online?
                  Nós criamos. Um cardápio online? Nós também criamos. Um
                  software de gestão? Ah, muito fácil... o futuro de sua empresa
                  está aqui, faça seu orçamento!
                </p>
              </div>
              <button
                class="btn_info-sobre"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample"
                aria-expanded="true"
                aria-controls="collapseWidthExample"
                id="btn_info1"
              >
                Sobre nós
              </button>
              <button
                class="btn_info-sobre"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample2"
                aria-expanded="true"
                aria-controls="collapseWidthExample2"
                id="btn_info2"
              >
                <span class="sr-only">Recolher informações</span> < menos
              </button>
            </div>
            <div
              class="info-sobre2 collapse collapse-horizontal"
              id="collapseWidthExample"
            >
              <h1 class="title-sobre">Sobre nós</h1>
              <p class="p-sobre">
                A ConstSoft foi fundada por colegas de faculdade apaixonados por
                tecnologia e programação, com a visão de criar soluções digitais
                que agreguem valor e impulsionem o crescimento dos clientes.
                Durante seus estudos, perceberam o potencial transformador da
                tecnologia para os negócios. Enfrentaram desafios iniciais com
                dedicação e perseverança, utilizando suas habilidades
                complementares para desenvolver soluções web personalizadas com
                excelência e compromisso em entregar resultados excepcionais.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container_servicos" id="servico">
        <h3 class="font-semibold title_services">Serviços</h3>
        <h5 class="p_servicos">O que temos a oferecer</h5>

        <div class="subContainer_servicos">
          <div class="types_servicos">
            <p>
              Nossa empresa tem como foco o desenvolvimento web, e por meio dele
              é possível desenvolver uma variedade de softwares e soluções para
              nossos clientes.
            </p>
            <p>
              Ao lado você pode conferir alguns tipos de produtos desenvolvidos
              pela ConstSoft.
            </p>
          </div>
          <div class="type-carousel">
            <div class="wrapper_services">
              <i
                id="left"
                class="fa-solid fa-angle-left btn-category"
                aria-label="Categoria anterior"
              ></i>
              <form class="carousel" data-category="carousel">
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="armas"
                  name="submit"
                  value="armas"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-solid fa-blog"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Blog</h2>
                </button>
                <button
                  class="card"
                  data-category="card"
                  data-toggle="portfilter"
                  data-target="cozinha"
                  name="submit"
                  value="cozinha"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-solid fa-cart-arrow-down"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>E-commerce</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="brinquedos"
                  name="submit"
                  value="brinquedos"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-address-book"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Portfólio</h2>
                </button>
                <button
                  class="card"
                  data-toggle="landingPage"
                  data-target="brinquedos"
                  name="submit"
                  value="landingPage"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-address-book"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Landing Page</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="festas"
                  name="submit"
                  value="festas"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-building"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Cursos</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="festas"
                  name="submit"
                  value="festas"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-building"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>HotSite</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="festas"
                  name="submit"
                  value="festas"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-building"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Institucionais</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="festas"
                  name="submit"
                  value="festas"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-regular fa-building"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Marketplace</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="decorations"
                  name="submit"
                  value="decorations"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-solid fa-list-check"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Gestão</h2>
                </button>
                <button
                  class="card"
                  data-toggle="portfilter"
                  data-target="banheiro"
                  name="submit"
                  value="banheiro"
                >
                  <div class="img">
                    <i
                      class="icon-category fa-solid fa-taxi"
                      draggable="false"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h2>Serviços</h2>
                </button>
              </form>
              <i
                id="right"
                class="fa-solid fa-angle-right btn-category"
                aria-label="Próxima categoria"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="container-trabalhos" id="trabalho">
        <h3 class="font-semibold title_services">Exemplos</h3>
        <h5 class="p_servicos">Veja alguns projetos desenvolvidos pela constsoft</h5>

        <section class="section-slider" data-container="slider">
          <div class="section-slider" data-container="poster">
            <div class="poster-item" data-item="poster">
              <div class="poster-image"></div>
              <div class="poster-details">
                <div class="poster-details-text">
                  <div class="poster-title-container">
                    <h1 class="poster-title">E-commerce</h1>
                  </div>
                  <div class="poster-description">
                    <p class="poster-description-text2">
                      Sites que permitem a venda de produtos ou serviços
                      diretamente aos consumidores, como Amazon, eBay e Shopify.
                    </p>
                  </div>
                </div>
                <div class="poster-acquire">
                  <form
                    class="poster-acquire-form"
                    data-form="slider"
                    action="https://tgames-ecommercew.netlify.app/#/"
                    target="_blank"
                  >
                    <button
                      class="poster-acquire-buy"
                      data-button="button"
                      aria-label="Ver detalhes do E-commerce"
                    >
                      <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="poster-item" data-item="poster">
              <div class="poster-image"></div>
              <div class="poster-details">
                <div class="poster-details-text">
                  <div class="poster-title-container">
                    <h1 class="poster-title">Portfólios</h1>
                  </div>
                  <div class="poster-description">
                    <p class="poster-description-text2">
                      Sites usados por indivíduos, como fotógrafos, designers e
                      artistas, para mostrar seu trabalho.
                    </p>
                  </div>
                </div>
                <div class="poster-acquire">
                  <form
                    class="poster-acquire-form"
                    data-form="slider"
                    action=""
                
                  >
                    <button
                      class="poster-acquire-buy"
                      data-button="button"
                      aria-label="Ver detalhes dos Portfólios"
                    >
                      <i class="fa-solid fa-arrow-right-long"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="poster-item" data-item="poster">
            <div class="poster-image"></div>
            <div class="poster-details">
              <div class="poster-details-text">
                <div class="poster-title-container">
                  <h1 class="poster-title">Portais Corporativos</h1>
                </div>
                <div class="poster-description">
                  <p class="poster-description-text2">Sites que fornecem informações sobre uma empresa, seus produtos ou serviços, equipe, e formas de contato.</p>
                </div>
              </div>
              <div class="poster-acquire">
                <form class="poster-acquire-form" data-form="slider" action="">
                  <button class="poster-acquire-buy" data-button="button" aria-label="Ver detalhes dos Portais Corporativos"><i class="fa-solid fa-arrow-right-long"></i></button>
                </form>
              </div>
            </div>
          </div>
    
          <div class="poster-item" data-item="poster">
            <div class="poster-image"></div>
            <div class="poster-details">
              <div class="poster-details-text">
                <div class="poster-title-container">
                  <h1 class="poster-title">Blogs</h1>
                </div>
                <div class="poster-description">
                  <p class="poster-description-text2">Plataformas onde indivíduos ou empresas publicam artigos, notícias e outros conteúdos de forma regular.</p>
                </div>
              </div>
              <div class="poster-acquire">
                <form class="poster-acquire-form" data-form="slider" action="">
                  <button class="poster-acquire-buy" data-button="button" aria-label="Ver detalhes dos Blogs"><i class="fa-solid fa-arrow-right-long"></i></button>
                </form>
              </div>
            </div>
          </div>
    
          <div class="poster-item" data-item="poster">
            <div class="poster-image"></div>
            <div class="poster-details">
              <div class="poster-details-text">
                <div class="poster-title-container">
                  <h1 class="poster-title">Softwares de Gestão</h1>
                </div>
                <div class="poster-description">
                  <p class="poster-description-text2">Aplicações que ajudam equipes a gerenciar projetos, tarefas e colaboração, como Trello e Asana.</p>
                </div>
              </div>
              <div class="poster-acquire">
                <form class="poster-acquire-form" data-form="slider" action="">
                  <button class="poster-acquire-buy" data-button="button" aria-label="Ver detalhes dos Softwares de Gestão"><i class="fa-solid fa-arrow-right-long"></i></button>
                </form>
              </div>
            </div>
          </div>
    
          <div class="poster-item" data-item="poster">
            <div class="poster-image"></div>
            <div class="poster-details">
              <div class="poster-details-text">
                <div class="poster-title-container">
                  <h1 class="poster-title">Aplicativos de Delivery</h1>
                </div>
                <div class="poster-description">
                  <p class="poster-description-text2">Plataformas que facilitam a entrega de comida e outros itens, como UberEats e iFood.</p>
                </div>
              </div>
              <div class="poster-acquire">
                <form class="poster-acquire-form" data-form="slider" action="">
                  <button class="poster-acquire-buy" data-button="button" aria-label="Ver detalhes dos Aplicativos de Delivery"><i class="fa-solid fa-arrow-right-long"></i></button>
                </form>
              </div>
            </div>
          </div>
          </div>

          <div class="wrapper">
            <ul class="slider-container" data-container="wrapper">
              <li class="slider-item" data-item="wrapper">
                <img
                  class="slider-image"
                  src="../static/images/teste/img (1).jfif"
                  alt="Exemplo de E-commerce"
                  loading="lazy"
                />
                <h1 class="slider-title">E-commerce</h1>
              </li>
              <li class="slider-item" data-item="wrapper">
                <img
                  class="slider-image"
                  src="../static/images/teste/img (3).png"
                  alt="Exemplo de Portfólios"
                  loading="lazy"
                />
                <h1 class="slider-title">Portfólios</h1>
              </li>
              <li class="slider-item" data-item="wrapper">
              <img class="slider-image" src="../static/images/teste/img (2).png" alt="Exemplo de Portais Corporativos" loading="lazy">
              <h1 class="slider-title">Portais Corporativos</h1>
            </li>
            <li class="slider-item" data-item="wrapper">
              <img class="slider-image" src="../static/images/teste/img (4).jpg" alt="Exemplo de Blogs" loading="lazy">
              <h1 class="slider-title">Blogs</h1>
            </li>
            <li class="slider-item" data-item="wrapper">
              <img class="slider-image" src="../static/images/teste/img (5).png" alt="Exemplo de Softwares de Gestão" loading="lazy">
              <h1 class="slider-title">Softwares de Gestão</h1>
            </li>
            <li class="slider-item" data-item="wrapper">
              <img class="slider-image" src="../static/images/teste/img (6).png" alt="Exemplo de Aplicativos de Delivery" loading="lazy">
              <h1 class="slider-title">Aplicativos de Delivery</h1>
            </li>
            </ul>
          </div>
        </section>
      </div>

      <section class="section-contato" id="contato">
        <div class="container-text-contato">
          <h2 class="font-semibold mb-4 text-center">Entre em contato</h2>
          <p class="text-sm md:text-lg text-center mb-8 md:mb-12">
            Nós iremos responder o mais rápido possível para suprir suas
            necessidades! Desenvolvemos softwares capazes de engajar sua empresa
            na internet de forma simples e rápida.
          </p>
        </div>

        <div class="contato">
          <div class="container-contato">
            <div class="conteiner mx-auto py-8 px-4 md:px-0">
              <div class="">
                <div class="overlay"></div>
                <div
                  class="text text-center md:flex md:flex-col md:items-center"
                >
                  <h2 class="font-bold mb-4">
                    Você pede, a ConstSoft realiza!
                  </h2>
                  <p class="md:text-center">
                    Desenvolvemos soluções que alavancam as vendas da sua
                    empresa.
                  </p>

                  <p class="md:text-center">
                    Faça um orçamento falando conosco por meio do link abaixo.
                  </p>
                  <form class="form_btn-info-contato"
                  target="_blank"
                  action="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?"
                  >
                  <button type="submit" class="btn_info-contato mt-4">
                  Clique aqui
                  </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div
            class="container-contato2 flex justify-center items-center h-auto pb-10"
            id="contato"
          >
            <div class="max-w-md md:max-w-3xl mx-4 md:mx-auto">
              <div
                class="container-form border-color1 form p-6 md:p-8 dark:bg-gray-800 rounded-lg shadow-lg"
              >
                <form
                  id="form"
                  action="/submit_form"
                  method="post"
                  onsubmit="return submitForm()"
                >
                  <div class="mb-4">
                    <label for="email" class="block text-sm font-medium mb-1"
                      >Email</label
                    >
                    <input
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Digite seu e-mail"
                      class="input-text border-gray-300 rounded-md w-full py-2 px-3 focus:outline-none focus:ring focus:border-blue-500"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label for="number" class="block text-sm font-medium mb-1"
                      >Telefone / Whatsapp</label
                    >
                    <input
                      type="number"
                      id="number"
                      name="number"
                      placeholder="Digite seu numero"
                      class="input-text border-gray-300 rounded-md w-full py-2 px-3 focus:outline-none focus:ring focus:border-blue-500"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label for="message" class="block text-sm font-medium mb-1"
                      >Mensagem</label
                    >
                    <textarea
                      id="message"
                      name="message"
                      rows="4"
                      placeholder="Digite sua mensagem"
                      class="input-text border-gray-300 rounded-md w-full py-2 px-3 focus:outline-none focus:ring focus:border-blue-500"
                      required
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    id="submitButton"
                    class="btn-form font-semibold py-2 px-4 rounded-md w-full focus:outline-none"
                  >
                    Enviar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-modal="form"
      >
        <div class="modal-dialog">
          <div class="modal-content modal_form">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Parabéns</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                id="close_modal"
              ></button>
            </div>
            <div class="modal-body">
              <h5 class="text_modal">Mensagem enviada com sucesso!</h5>
              <p>Entraremos em contato o mais rápido possível!</p>
              <div class="container_logo-modal">
                <img class="logo_img-modal" src="../static/images/tiger.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container_economia">
        <div class="container_text-economia">
          <h2 class="font-semibold mb-4">Orçamento apertado?</h2>
          <p>
            Na Constsoft, você encontra preços acessíveis para todos os seus
            projetos! Oferecemos soluções de alta qualidade que cabem no seu
            bolso, sem comprometer a eficiência e a inovação.
          </p>
          <p>
            Faça um orçamento conosco!
            <a
              class="link_text-economia"
              href="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?"
              >Clique aqui.</a
            >
          </p>
        </div>
        <div class="container_img-economia">
          <img src="../static/images/economia.png" />
        </div>
      </div>
    </main>

    <footer class="footer bg-color1 bg-gray-100 dark:bg-gray-900">
      <div class="container-footer w-full max-w-screen-xl mx-auto md:py-8 pb-5">
 
        <div class="container-contact-footer mt-4">
          <div class="container-logo-footer p-2">
            <img class="name_img-footer" src="../static/images/logo.png" alt="Nome da empresa (constsoft)">
            <img
              class="logo_img-footer"
              src="../static/images/tiger.png"
              alt="Logo da ConstSoft"
            />
          </div>
       
          <ul class="ul-contact">
            <li>
              <a
                class="link-footer"
                href="mailto:suporteconstsoft@gmail.com"
                target="_blank"
              >
                <span class="fa-regular fa-envelope icon-footer"></span>
                <span class="span-info-contact"
                  >suporteconstsoft@gmail.com</span
                >
              </a>
            </li>
            <li>
              <a class="link-footer" href="tel:+5575991972803" target="_blank">
                <span class="fa-solid fa-phone icon-footer"></span>
                <span class="span-info-contact">(75) 98325-2987</span>
              </a>
            </li>
          </ul>

          <ul class="ul-medias-footer">
            <!-- <li><a href="" class="fa-brands fa-facebook"></a></li> -->
            <li>
             
              <a
                href="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?"
                target="_blank"
                class="fa-brands fa-whatsapp icon-footer"
              ></a>
              <span class="span-info-contact"
              >Whatsapp</span
            >
            </li>
            <li>
              <a
                href="https://www.instagram.com/constsoft/"
                class="fa-brands fa-instagram icon-footer"
                target="_blank"
              ></a>
              <span class="span-info-contact"
              >Instagram</span
            >
            </li>
          </ul>
        </div>

        <hr
          class="color-w my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span class="color-w span_copyright-footer"
          >Copyright © 2024
          <a href="/" class="hover:underline">ConstSoft</a></span
        >
      </div>
    </footer>

    <section class="social-medias">
      <a
        class="social-link"
        href="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?"
        target="_blank"
        ><img src="../static/images/whatsapp.png"
      /></a>
      <a
        class="social-link"
        href="https://www.instagram.com/constsoft/"
        target="_blank"
        ><img src="../static/images/instagram.png"
      /></a>
      <a
        class="social-link"
        href="mailto:suporteconstsoft@gmail.com"
        target="_blank"
        ><img src="../static/images/email.png"
      /></a>
    </section>

    <script type="module" src="../static/js/script.js"></script>
    <script>
      function submitForm() {
        let emailInput = document.getElementById('email');
        let phoneInput = document.getElementById('number');
        let textInput = document.getElementById('message');
    
        let form = document.querySelector('#form');
        let formData = new FormData(form);
    
        let closeModal = document.getElementById('close_modal');
        let submitButton = document.getElementById('submitButton');
        submitButton.disabled = true; // Desativa o botão de envio
    
        closeModal.addEventListener('click', function () {
          submitButton.removeAttribute('data-bs-toggle', 'modal');
          submitButton.removeAttribute('data-bs-target', '#exampleModal');
        });
    
        fetch('/submit_form', {
          method: 'POST',
          body: formData
        })
          .then(response => response.json())
          .then(result => {
            emailInput.value = '';
            textInput.value = '';
            phoneInput.value = '';
            submitButton.disabled = false; // Reativa o botão de envio
            if (result) {
              submitButton.setAttribute('data-bs-toggle', 'modal');
              submitButton.setAttribute('data-bs-target', '#exampleModal');
              submitButton.click();
            } else {
              console.error('Erro na resposta:', result);
            }
          })
          .catch(error => {
            submitButton.disabled = false; // Reativa o botão de envio em caso de erro
            console.error('Erro ao enviar formulário:', error);
          });
    
        return false;
      }
    </script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
